%h1 WordMarks
-#%a{title: 'List of your saved words', href: words_path} My Words

= form_tag words_path, :id => 'save_word_form' do
  = text_field :word, 'word', :id => 'word_input', :autofocus => 'autofocus'
  = submit_tag 'Save', :id => 'save_word_btn', :class => 'btn'
