%h1 Wordsmark
%button{id: 'practice-btn'} Practice
%ul
  - @words.each do |word|
    %li= word.word

%div{id: 'practice-wrapper'}
  %div{id: 'result-wrapper'}
  %div{id: 'word-wrapper'}
  %div{id: 'translation-wrapper'}
    %input{placeholder: 'translation ...'}
