@font-face {
    font-family: 'MenschBold';
    src: url('/assets/mensch-bold-webfont.ttf'),
    url('/assets/mensch-bold-webfont.eot'),
    url('/assets/mensch-bold-webfont.woff'),
    url('/assets/mensch-bold-webfont.svg');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/assets/proximanova-regular-webfont.ttf'),
    url('/assets/proximanova-regular-webfont.eot'),
    url('/assets/proximanova-regular-webfont.woff'),
    url('/assets/proximanova-regular-webfont.svg');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('/assets/proximanova-bold-webfont.ttf'),
    url('/assets/proximanova-bold-webfont.eot'),
    url('/assets/proximanova-bold-webfont.woff'),
    url('/assets/proximanova-bold-webfont.svg');
}